*.user
*.suo
*.sdf
*.opensdf
*.vcxproj.user
dll/工具/password.txt
dll/工具/吾爱破解工具包2.0.0.7z
*.obj
*.log
*.tlog
*.pdb
*.idb
*.exe
*.ilk
*.pch
*.ipch
*.dll
*.lib
*.res
dll/win32_0/.vs/win32_0/v16/.suo
*.db
*.recipe
*.txt
dll/test_mfc1/.vs/test_mfc1/v16/.suo
